{% extends 'layout.html.twig' %}

{% block title %}Reset Password !{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <label for="inputRepeatPassword" class="sr-only">Repeat Password</label>
        <input type="password" name="password2" id="inputRepeatPassword" class="form-control" placeholder="Repeat Password" required>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('resetPassword') }}">

        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    </form>
{% endblock %}
