// Boostrap 4.1
@import "~bootstrap/scss/bootstrap";

// // Fontawsome Free 5.4.2
// @import "~@fortawesome/fontawesome-free/scss/fontawesome";
// @import "~@fortawesome/fontawesome-free/scss/regular";
// @import "~@fortawesome/fontawesome-free/scss/solid";
// @import "~@fortawesome/fontawesome-free/scss/brands";

//leaflet
@import "~leaflet/dist/leaflet";

body {
  background-color: lightgray;

  .navbar {
    margin-bottom: 20px;
  }

  .dropdown-menu {
    z-index: 10000;
  }
}

.navbar .dropdown .dropdown-item .fas {
  float: right;
  line-height: inherit;
}

.leaflet-container {
  position: relative;
  border: 1px solid black;
  height: 400px;
  width: 100%;

  .leaflet-div-icon {
    background: transparent;
    border: none;
  }

  .red {
    color: orangered;
  }

  .blue {
    color: royalblue;
  }

  .fa-inverse {
    color: white;
  }
}

/* Flip Cards */
.card-container {
  display: grid;
  perspective: 700px;
}
  
.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}
  
.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.front {
  grid-area: frontAndBack;
}

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg);
}
  
.card-container:hover .card-flip {
  transform: rotateY(180deg);
}

/* End flip card */
