// Boostrap 4.1
@import "~bootstrap/scss/bootstrap";

// Fontawsome Free 5.4.2
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

//leaflet
@import "~leaflet/dist/leaflet";

body {
    background-color: lightgray;
    
    .alert {
        @-webkit-keyframes rotating /* Safari and Chrome */ {
            from {
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        .rotating {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
            -ms-animation: rotating 2s linear infinite;
            -o-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;

            &:hover {
                -webkit-animation-play-state:paused;
                -moz-animation-play-state:paused;
                -o-animation-play-state:paused;
                animation-play-state:paused;
            }
        }

        img {
            width: 70px;
            height: 70px;
            margin-right: 50px;
            border-radius: 100%;
        }
    }
}

#map {
    position: relative;
    border: 1px solid black;
    height: 400px;  /* or as desired */
    width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}
