{% extends 'layout.html.twig' %}

{% block title %}party - create / update{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

<div id="map" class="iframe-container"></div>

<style>
      .iframe-container{
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
        }
        .iframe-container > *{
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
    </style>
{% endblock %}


{% block javascripts %}
<script>
    var party = [{% for party in allParty %}{lat: {{party.lat}}, lng: {{party.lng}}},{% endfor %}{% for party in allParty %}{lat: {{party.lat -1}}, lng: {{party.lng -1}}},{% endfor %}];
    console.log(party);

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: -28.024, lng: 140.887}
        });

        // Create an array of alphabetical characters used to label the markers.
        // var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = party.map(function(party, i) {
          return new google.maps.Marker({
            position: party,
            // label: labels[i % labels.length]
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,{imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABZDkCtARWSUEej-RTGcel_NrC2eO0nNw&callback=initMap">
{% endblock %}