{% extends 'layout.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
annonce ton jdr home

{{ form_start(form) }}
    {{ form_widget(form) }}

    <input type="submit" class="btn" value="Create"/>
{{ form_end(form) }}

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>

{% endblock %}
