{% extends 'layout.html.twig' %}

{% block title %}home{% endblock %}

{% block stylesheets %}
<link href="{{ asset('build/party_form.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
annonce ton jdr home

<div id="map" class="iframe-container"></div>
<style>
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }
    .iframe-container > *{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
</style>
{{ encore_entry_script_tags('app') }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
{% endblock %}

{% block javascripts %}

{% endblock %}